###############
# Built-in    #
###############

zmodule k
zmodule git
zmodule fzf
zmodule ssh
zmodule input
zmodule direnv
zmodule archive
zmodule utility
zmodule exa # must come after utility module
zmodule termtitle
zmodule run-help
zmodule magic-enter

###############
# Personal    #
###############

zmodule steelshot/dotfiles

###############
# Plugins     #
###############

zmodule none9632/zsh-sudo
zmodule amogus07/zsh-command-not-found

###############
# Theming     #
###############

zmodule trapd00r/LS_COLORS --source lscolors.sh
zmodule romkatv/powerlevel10k --use degit

###############
# Completions #
###############

zmodule zsh-users/zsh-completions --fpath src
zmodule MenkeTechnologies/zsh-more-completions

# Must be last after all completion modules
zmodule completion

###############
# Extensions  #
###############

zmodule 3v1n0/zsh-bash-completions-fallback
zmodule Tarrasch/zsh-bd
zmodule olets/zsh-abbr
zmodule MichaelAquilina/zsh-you-should-use
zmodule hlissner/zsh-autopair
zmodule ael-code/zsh-colored-man-pages
zmodule wfxr/forgit
zmodule zsh-users/zsh-syntax-highlighting
zmodule Aloxaf/fzf-tab
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions
