###############
# Core        #
###############

# Built-in zim modules
zmodule k
zmodule git
zmodule fzf
zmodule ssh
zmodule input
zmodule direnv
zmodule archive
zmodule utility
zmodule exa
zmodule termtitle
zmodule run-help
zmodule magic-enter

# Personal
zmodule steelshot/dotfiles

###############
# Plugins     #
###############

zmodule none9632/zsh-sudo
zmodule amogus07/zsh-command-not-found
zmodule Tarrasch/zsh-bd
zmodule olets/zsh-abbr --use git
zmodule MichaelAquilina/zsh-you-should-use
zmodule ael-code/zsh-colored-man-pages
zmodule wfxr/forgit

# Theming
zmodule trapd00r/LS_COLORS --source lscolors.sh
zmodule romkatv/powerlevel10k --use degit

###############
# Completions #
###############

zmodule zsh-users/zsh-completions --fpath src
zmodule MenkeTechnologies/zsh-more-completions
zmodule 3v1n0/zsh-bash-completions-fallback

# Must be last after all completion modules
zmodule completion

###############
# Bindings    #
###############
# Order matters: syntax-highlighting -> history-substring-search -> autosuggestions

zmodule Aloxaf/fzf-tab
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions
